<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>Sistema de Notas</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/style.css">

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="mx-auto order-0">
            <center><p class= "navbar-brand navbar-center navbar-text text-light" style="width: 450px; left: 33%;margin-top: 6px"> Sistema de carga de notas</span></center>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        {% if user.is_authenticated %}

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-light navbar-text" style="margin-right: 40px;">Welcome {{user.username|title}} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light navbar-text" style="margin-right: 20px;" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
        {% else %}
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 " style="min-height: 38px;">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown">
                    <a class="dropdown-toggle navbar-text text-primary" data-toggle="dropdown" style="margin-right:140px;">Login
        <span class="caret"></span></a>
                    <ul class="dropdown-menu" style="background-color: grey;">
                        <div >
                            <form action="{% url 'login' %}" method="POST" accept-charset="utf-8" id="formLogin">
                                {% csrf_token %}
                                <input type="Text" name="username" placeholder=" Username" style="background-color: #a8aaad;width: 90%;margin-left: 10px">
                                <input type="Password" name="password" placeholder=" Password" style="background-color: #a8aaad;width: 90%;margin-left: 10px">
                                <input type="submit" class="btn btn-success" style="margin-left:65px;margin-top:10px" value="Login">

                            </form>
                    </ul>
                </li>
            </ul>
            </div>
            {% endif %}
    </nav>
    <br> {% if form %}
    <div class="container" id="mydiv">
        <div class="p-3 mb-2 bg-dark text-white">
            <form id="form" action="{% url 'grade_post' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <select class="custom-select" name="{{ form.value.html_name }}">
          <option disabled selected value>Grade</option>
          {% for val in form.value %}
            {{ val }}
          {% endfor %}
		</select>
                    <select class="custom-select" id="subject" name="{{ form.subject.html_name }}">
          <option disabled selected value>Subject</option>
		</select>
                    <select id="student" class="custom-select" name="{{ form.student.html_name }}">
        <option disabled selected value>Student</option>
     
        </select>
                    <div class="input-group-append">
                        {% if user.is_authenticated %}
                        <input class="btn btn-secondary" type="submit" value="Agregar nota"> {% else %}
                        <a class="btn btn-secondary">Debes estar registrado</a> {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</body>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="{% static 'scripts.js' %}"></script>
<script>
    $(document).on('change', "#subject", function () {

        var materia = $("#subject").val();
        if (parseInt(materia) == NaN) {
            return false;
        }
        $('#student').empty();
        $('#student').append("<option disabled selected value=false>Student</option>");

        $.ajax({
            method: "GET",
            url: "{% url  'get_alumnos' %}",
            dataType: 'json',
            data: { csrf_token: "{{ csrf_token }}", id_materia: $("#subject").val() }
        }).error(function (msg) {
            console.log("Error: " + msg);
        }).success(function (data) {
            var json = $.parseJSON(data);
            $.each(json, function (index, element) {
                var nombre = element.first_name + " " + element.last_name;
                console.log("Alumno id: " + element.id +  "Nombre: " +  nombre);
                
                $('#student').append('<option value="'+ element.id+'"> '+ nombre +'</option>');               
                
            });
            
        });

    });


    $(document).ready(function(){
    $('#subject').empty();
    $('#subject').append("<option disabled selected value=false>Subject</option>");
    $.ajax({
       type: "GET",
       url: "{% url 'get_subjects'%}",
       dataType: "json",
       success: function(data) {
        var json2 = $.parseJSON(data);
       $.each(json2, function (index, element) {
            var nombre = element.name;            
            $('#subject').append('<option value="'+ element.id+'"> '+ nombre +'</option>');               
            
        });
       }
     });
})

</script>



</html>